<html>
<%- include('./partials/head.ejs', {title : 'Blog Details' }) %>

    <body>
        <%- include('./partials/nav.ejs', {page : null}) %>

            <div class="container my-5">
                <div class="display-1  animate__animated animate__slideInDown">
                    <%= blog.title %>
                </div>
                <div class="fs-3 lh-lg animate__animated animate__slideInLeft animate__delay-800ms">
                    <%= blog.body %>
                </div>
                <div class="d-flex justify-content-between mt-5  animate__animated animate__slideInUp">
                    <a class="btn btn-lg btn-outline-dark" href="/blogs" >
                        Back
                    </a>
                    <a class="btn btn-lg btn-outline-dark delete" data-doc="<%= blog._id %>" >
                        Delete
                    </a>
                </div>
            </div>
            <script>
                const trash = document.querySelector('.delete');                
                trash.addEventListener('click', (e)=>{
                    const endpoint = `/blogs/${trash.dataset.doc}`;                    
                    fetch(endpoint,{
                        method: 'DELETE'
                    })
                    .then(response=>response.json())
                    .then(data=>window.location.href = data.redirect)
                    .catch(err=>console.log(err.message));
                })
            </script>
    </body>

</html>