<html>
<%- include("./partials/head.ejs", {title:'Home'}) %>

  <body>
    <%- include("./partials/nav.ejs", {page:'index'}) %>


      <div class="container-fluid mt-2">
        <h1 class="display-1 text-center mt-5 mb-3 animate__animated animate__backInDown">Trending Blogs</h1>
        <div class="content mx-3">
          <% if(blogs.length> 0){ %>
            <% blogs.map((blog)=>{ %>
              <div class="blogs mb-3 p-3 border border-5 border-dark rounded rounded-3" data-aos="fade-right">
                <a href="/blogs/<%= blog._id %>" class="text-reset" style="text-decoration: none;">
                  <div class="display-4 fw-bolder border-start border-5 border-primary ps-2">
                    Title: <%= blog.title %>
                  </div>
                  <div class="fs-5 ps-2 border-start border-5 border-warning lh-sm">
                    <%= blog.snippet %>
                  </div>
                  <div class="text-end text-muted">
                    <% const date = new Date(blog.createdAt) %> 
                    <%= moment(date.toISOString()).format('llll') %> 
                  </div>
                </a>
              </div>
              <% }) %>
                <% } else{ %>
                  <div class="display-5">
                    There are no New Blogs at moment. Please wait and we'll find some!
                  </div>
                  <% } %>
        </div>
      </div>      
      <%- include("./partials/baseScripts.ejs") %>
      <%- include("./partials/footer.ejs") %>      
  </body>

</html>